<h1>Article id: <%= @article.id %> Details</h1>
<h3>Title: <%= @article.title%> </h3>
<h4>Body: <%= @article.body %></h4>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<br><br>

<h2>Comments</h2>
<%= render @article.comments %>

<br><br>

<h2> Add a comment: </h2>
<%= render 'comments/form' %>